.project {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(241, 239, 239);
    
    .projectContainer {
        height: 94%;
        width: 100%;
        // background-color: red;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-around;
        .projectElement {
            width: 400px;
            height: 250px;
            overflow: hidden;
            box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
            border-radius: 20px;
            margin-bottom: 20px;
            margin-left: 5px;
            
            img {
                width: 100%;
                height: 100%;
                // border-radius: 20px;
                // object-fit: cover;
                
    
                &:hover {
                    transform: scale(1.02);
                }
            }
        }
    }
    
}